body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgoldenrodyellow;
}
#app {
    [data-invis] { 
        transition: opacity 0s ;
        opacity: 0;
        z-index: -23213;
    }
}
